* {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif !important;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #575750;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif !important;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #2a2f2c;
  font-weight: 700;
}
.h1-special,
.h2-special,
.h3-special,
.h4-special,
.h5-special,
.h6-special {
  color: #2a2f2c;
  font-weight: 700;
}
.h1-special {
  font-size: 2rem;
  color: #bcc3bf;
}

a {
  color: #bcc3bf;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Merriweather', serif !important;
  transition: color 1s ease;
}
a:hover {
  color: #daddd3;
}
.btn-primary {
  background-color: #daddd3 !important;
  color: #2a2f2c;
  font-size: 1em;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 600;
  font-family: 'Merriweather', serif !important;
  transition: background-color 1s ease;
}
.btn-primary:hover {
  color: #2a2f2c;
  background-color: #e6e6e6 !important;
}
.btn:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}
.cta-dark {
  background-color: #bcc3bf;
  color: #2a2f2c;
  box-shadow: 0px 10px 15px rgb(36 36 36 / 8%);
  border: none;
  border-radius: 0.3rem;
}
.cta-light {
  background-color: #e6e6e6;
  color: #2a2f2c;
  box-shadow: 0px 10px 15px rgb(36 36 36 / 8%);
  border: none;
  border-radius: 0.3rem;
}
.navbar {
  background-color: #e6e6e6;
  color: #2a2f2c;
}
footer {
  background-color: #bcc3bf;
  color: #2a2f2c;
  padding: 2rem 1rem;
}
.footer-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  grid-template-areas: 'footer-brand' 'social-icons' 'copyright';
  justify-content: center;
  align-content: center;
  height: 40vh;
  align-items: center;
  justify-items: center;
}
.footer-brand {
  grid-area: footer-brand;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 1rem;
}
.copyright p {
  grid-area: copyright;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  text-align: center;
}
.social-icons {
  grid-area: social-icons;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 1rem;
}
.social-icon {
  padding: 0.3rem;
  border-radius: 3rem;
  fill: #2a2f2c;
  background-color: #daddd3;
  width: 40px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: background-color 1s ease;
}
svg {
  width: 20px;
  height: 20px;
}
.social-icon:hover {
  background-color: #e6e6e6;
}
.card {
  background-color: #ffffff;
  color: #2a2f2c;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-shadow: 0px 10px 15px rgb(36 36 36 / 8%);
}
.card-bg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #e6e6e6;
  color: #2a2f2c;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 600;
  box-shadow: 0px 10px 15px rgb(36 36 36 / 8%);
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  footer {
    padding: 2rem;
  }
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'copyright footer-brand social-icons';
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: auto;
  }
  .copyright p {
    text-align: left;
  }
  .footer-brand {
    margin-top: 0rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {
}
